# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules
.coverage
.coveragerc.swp
htmlcov
.venv

# Serverless directories
.serverless

# VSCode
__pycache__
*.pyc
.*project
.vscode
package-lock.json
.pytest_cache

# Security
secrets.yml
scratch.py

# IaC
cdk.out

# Anything designated "local"
local
